<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Pacientes</title>
</head>
<body>
    <h1>Pacientes Registrados</h1>
    <a th:href="@{/usuarios/nuevo}">Agregar Nuevo Paciente</a>
	<a th:href="@{/}">← Volver al Inicio</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="u : ${usuarios}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.nombre}"></td>
                <td th:text="${u.email}"></td>
                <td th:text="${u.telefono}"></td>
                <td>
					<a th:href="@{/usuarios/editar/{id}(id=${u.id})}">Editar</a> |
                    <a th:href="@{/usuarios/eliminar/{id}(id=${u.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>